* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: rgb(53, 53, 53);
  height: 15vh;
  display: flex;
}

.nav-links {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links-link {
  transition: all 0.4s ease;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  color: #f58220;
  cursor: pointer;
}

.nav-btn {
  margin-top: 0px;
}

.navbar p {
  font-family: "Ultra", serif;
  color: #fff;
}

.nav-burger-container {
  display: none;
  margin: auto;
}

.nav-burger {
  border: #fff solid 1px;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
}

.nav-burger:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.line-1,
.line-2,
.line-3 {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
}

.bji-icon-container {
  flex: 1;
}

.bji-icon-container-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.bji-icon-container p {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0 auto;
}

.bji-icon {
  height: 80px;
  width: 80px;
}

.landing {
  background: url("../src/img/landscape.png");
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.title h1 {
  font-family: "Ultra", serif;
  font-weight: 300;
  z-index: 1;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 7rem;
  text-shadow: -6px 4px #f58220;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.locations-btn p {
  align-self: center;
}

.landing-section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f3;
}

.landing-section-title {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.card {
  padding: 24px;
  height: 255px;
  width: 340px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
}

.card img {
  width: 185px;
  align-self: flex-end;
}

button {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background-color: #f58220;
  border-radius: 10px;
  color: #fff;
  border: solid 1px #f58220;
  font-size: 1.3rem;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.gram-item {
  height: 250px;
  width: 250px;
  background-size: contain;
}

.gram-item-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 250px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.gram-item-overlay h4 {
  margin: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

.gram-item:hover .gram-item-overlay {
  opacity: 0.8;
  cursor: pointer;
}

.gram-item-comment {
  padding: 20px;
}

.likes-comments {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location-container div {
  margin: 15px;
}

.location-map {
  height: 400px;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.location-card {
  font-family: "Source Sans Pro", sans-serif;
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.location-card h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(53, 53, 53);
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer li {
  text-decoration: none;
  list-style: none;
  color: #f2f4f3;
  margin-top: 10px;
  font-size: 1.2rem;
}

.footer li a {
  font-family: "Roboto", sans-serif;
  transition: all 0.4s ease;
}
.footer li a:hover {
  color: #f58220;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.footer-icons span {
  display: flex;
  color: #fff;
  font-size: 2rem;
  border: solid #fff 1px;
  border-radius: 100%;
  padding: 12px;
  transition: all 0.4s ease;
}

.footer-icons span:hover {
  color: #f58220;
  border: solid #f58220 1px;
  cursor: pointer;
}

.menu {
  display: flex;
  min-height: 100vh;
}

.category-menu {
  flex: 1;
}

.category-menu-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #fcfaed;
  border-bottom: solid black 1px;
}

.category-menu-mobile h5 {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.category-menu-mobile-icon {
  margin-right: 25px;
  font-size: 1.2rem;
}

.category-item {
  height: 100px;
  border: 1px solid rgb(53, 53, 53);
  background-color: #fcfaed;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.category-item:hover {
  opacity: 1;
  cursor: pointer;
}

.category-item h4 {
  font-family: "Roboto", sans-serif;
}

.category-item img {
  height: 100px;
}

.display-menu {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-box {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-title {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.menu-title h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  align-self: center;
  color: rgb(53, 53, 53);
}

.menu-title img {
  transform: scale(0.7) rotate(2deg);
  width: 300px;
  margin-top: -20px;
}

.menu-description {
  font-size: 1.4rem;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 50px;
}

.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.menu-card {
  width: 240px;
  min-height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fcfaed;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.menu-card h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
}

.menu-card-descrip {
  color: #448faf;
}

.menu-mobile {
  display: none;
}

.menu-mobile div {
  height: 50px;
  width: 100%;
  border-bottom: solid black 1px;
}

@media only screen and (max-width: 1375px) {
  .menu-box {
    width: 620px;
  }
}

@media only screen and (max-width: 900px) {
  .title h1 {
    font-size: 4rem;
  }

  .bji-icon-container {
    flex: 2;
  }

  #hidden {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    height: 30vh;
    top: 15vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 23vh;
    width: 100%;
    height: 40vh;
    background-color: #fcfaed;
    transition: 0.4s ease-in-out;
  }

  .nav-links {
    display: none;
  }

  .nav-burger-container {
    display: block;
    flex: 1;
  }

  .location-map,
  .location-card {
    height: 350px;
    width: 450px;
  }

  .footer {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-icons {
    margin-top: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .category-menu {
    display: none;
  }
  .category-menu-mobile {
    display: flex;
  }
}

@media only screen and (max-width: 680px) {
  .menu-box {
    width: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .title h1 {
    font-size: 3rem;
  }

  .card {
    padding: 24px;
    height: 205px;
    width: 290px;
  }

  .featured-title {
    font-size: 1.8rem;
  }
  .location-map,
  .location-card {
    height: 250px;
    width: 300px;
  }

  .menu-box {
    width: 300px;
  }
}
