* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: rgb(53, 53, 53);
  height: 15vh;
  display: flex;
}

.nav-links {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links-link {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #448faf;
  cursor: pointer;
}

.nav-link-active {
  color: #448faf;
}

.nav-btn {
  margin-top: 0px;
}

.navbar p {
  font-family: "Ultra", serif;
  color: #fff;
}

.nav-burger-container {
  display: none;
  margin: auto;
}

.nav-burger {
  border: #fff solid 1px;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
}

.nav-burger:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.line-1,
.line-2,
.line-3 {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
}

.bji-icon-container {
  flex: 1;
}

.bji-icon-container-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.bji-icon-container p {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0 auto;
}

.bji-icon {
  height: 80px;
  width: 80px;
}

.landing {
  background: url("../src/img/landscape.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.title h1 {
  font-family: "Ultra", serif;
  font-weight: 300;
  z-index: 1;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 7rem;
  text-shadow: -6px 4px #f58220;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.locations-btn p {
  align-self: center;
}

.landing-section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f3;
}

.landing-section-title {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.card {
  padding: 24px;
  height: 255px;
  width: 340px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
}

.card img {
  width: 300px;
  align-self: flex-end;
}

button {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background-color: #f58220;
  border-radius: 10px;
  color: #fff;
  border: solid 1px #f58220;
  font-size: 1.3rem;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.gram-item {
  height: 250px;
  width: 250px;
  background-size: contain;
}

.gram-item-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 250px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.gram-item-overlay h4 {
  margin: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

.gram-item:hover .gram-item-overlay {
  opacity: 0.8;
  cursor: pointer;
}

.gram-item-comment {
  padding: 20px;
}

.likes-comments {
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location-container div {
  margin: 15px;
}

.marker {
  /* Set the marker size here */
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 2rem;
  /* Set the marker color here */
  background: #f58220;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  display: inline-block;
  border-bottom-right-radius: 0;
  transform: rotate(45deg);

  /* optional fanciness */
  border: 1px solid #f58220;
}
/* inner circle (optional if you don't need the central dot) */
.marker::before {
  content: "";
  background: white;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* optional fanciness */
  border: 1px solid #f58220;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}
/* shadow (optional if you don't need a shadow) */
.marker::after {
  content: "";
  background: rgba(128, 128, 128, 0.2);
  width: 75%;
  height: 75%;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(0.5);
}

.location-map {
  height: 400px;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.location-card {
  font-family: "Source Sans Pro", sans-serif;
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.location-card h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(53, 53, 53);
  justify-content: space-around;
  align-items: center;
  padding: 70px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.footer-copyright {
  text-align: center;
  max-width: 500px;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
}

.footer-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer li {
  text-decoration: none;
  list-style: none;
  color: #f2f4f3;
  margin-top: 10px;
  font-size: 1.2rem;
}

.footer li a {
  font-family: "Roboto", sans-serif;
  transition: all 0.4s ease;
}
.footer li a:hover {
  color: #f58220;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer-icons span {
  display: flex;
  color: #fff;
  font-size: 2rem;
  border: solid #fff 1px;
  border-radius: 100%;
  padding: 12px;
  transition: all 0.4s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-icons span:hover {
  color: #f58220;
  border: solid #f58220 1px;
  cursor: pointer;
}

.menu {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.category-menu {
  flex: 1;
}

.category-menu-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  height: 70px;
  background-color: #fcfaed;
  border-bottom: solid black 1px;
}

.category-menu-mobile h5 {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.category-menu-mobile-icon {
  margin-right: 25px;
  font-size: 1.2rem;
}

.category-menu-mobile:hover {
  cursor: pointer;
}

.category-item {
  height: 100px;
  border: 1px solid rgb(53, 53, 53);
  background-color: #fcfaed;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.category-item:hover {
  opacity: 1;
  cursor: pointer;
}

.category-item:focus {
  background-color: #448faf;
}

.category-item h4 {
  font-family: "Roboto", sans-serif;
}

.category-item img {
  height: 100px;
}

.display-menu {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-box {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-title {
  margin-top: 25px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.menu-title h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  align-self: center;
  color: rgb(53, 53, 53);
}

.back-btn {
  align-self: flex-start;
  margin-left: 5%;
}

.back-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(53, 53, 53);
  font-size: 2rem;
  transition: all .4s ease-in-out;
}

.back-btn a:hover {
  transform: scale(1.1);
}

#back-menu {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  font-size: 1.4rem;
}

.back-btn a:hover #back-menu {
  visibility: visible;
}

.menu-title img {
  transform: scale(0.7) rotate(2deg);
  width: 300px;
  margin-top: -20px;
}

.menu-description {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 50px;
  line-height: 2rem;
  text-align: center;
}

.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.menu-card {
  width: 280px;
  min-height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fcfaed;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.menu-card h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
}

.menu-card-descrip {
  color: #448faf;
}

.menu-card img {
  margin-top: auto;
}

.menu-card-add {
  align-self: center;
  background-color: #f58220;
  color: #fff;
  padding: 5px;
  border: solid #f58220 1px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.menu-card-add:hover {
  cursor: pointer;
}

.menu-card-added {
  align-self: center;
  color: #448faf;
  padding: 5px;
  border: solid #448faf 1px;
  border-radius: 10px;
}

.menu-mobile {
  display: none;
}

.menu-mobile div {
  height: 50px;
  width: 100%;
  border-bottom: solid black 1px;
  opacity: 0.7;
}

.menu-mobile div:hover {
  cursor: pointer;
  opacity: 1;
}

.order-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 80%;
  min-height: 50vh;
  margin: 40px 0px 70px 0px;
}

.order-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: rgb(53, 53, 53, 0.5) solid 1px;
}

.no-order {
  align-self: center;
}

.remove-order {
  display: flex;
  justify-content: flex-start;
  color: #448faf;
  font-size: 1.5rem;
}

.remove-order:hover {
  cursor: pointer;
}

.order-content {
  display: flex;
  justify-content: space-around;
}

.order-name {
  display: flex;
  width: 400px;
  align-items: center;
}

.order-name img {
  height: 80px;
}

.order-name h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.order-qty {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
}

.qty-container {
  background-color: #448faf;
  display: flex;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
}

.qty-container:hover {
  cursor: pointer;
}

.order-title {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  margin-bottom: 25px;
}

.order-total {
  display: flex;
  justify-content: center;
  width: 100px;
}

.place-order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin-bottom: 50px;
  width: 300px;
  height: 50px;
  background-color: #f58220;
  color: #fff;
  border-radius: 10px;
}

.place-order div {
  display: flex; 
  justify-content: center;
  font-family: "Roboto", sans-serif;
  width: 120px;
  font-size: 1.4rem;
}

.membership-top {
  height: 85vh;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership-top h1 {
  color: #fff;
  font-family: "Ultra", serif;
  text-shadow: -4px 3px #f58220;
  margin-top: 60px;
  font-size: 4rem;
}

.membership-top p {
  text-align: center;
  margin-top: 25px;
  width: 550px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 25px;
  height: 50px;
  width: 500px;
  border: #f58220 solid 1px;
  border-radius: 30px;
  background-color: #f58220;
  color: #fff;
}
.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 15px;
  height: 50px;
  width: 500px;
  border: #f58220 solid 1px;
  border-radius: 30px;
  color: #f58220;
  transition: all 0.2s ease-in-out;
}

.btn-org {
  color: #fff;
  border: #448faf solid 1px;
  background: #448faf;
}

.join-btn:hover {
  cursor: pointer;
  opacity: 1.5;
  border: #d8690a solid 1px;
  background-color: #d8690a;
}

.sign-btn:hover {
  color: #fff;
  background-color: #f58220;
  cursor: pointer;
}

.membership-bot {
  background-color: #f58220;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.membership-bot h1 {
  margin-top: 40px;
  color: rgb(53, 53, 53);
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
}

/* css from shapediver.app for curve 1*/
.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 275px;
}

.curve .shape-fill {
  fill: #f58220;
}
/* end */

/* Curve 2 */

.curve-two {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-two svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 99px;
}

.curve-two.shape-fill {
  fill: #353535;
}

.reward-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reward {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  min-height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(53, 53, 53);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}

.reward h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.reward p {
  color: #fff;
  text-align: center;
}

.reward-img {
  font-size: 6rem;
  color: #448faf;
}

@media only screen and (max-width: 1375px) {
  .menu-box {
    width: 720px;
  }
}

@media only screen and (max-width: 985px) {
  .menu-box {
    width: 620px;
  }
}

@media only screen and (max-width: 900px) {
  .title h1 {
    font-size: 4rem;
  }

  .bji-icon-container {
    flex: 2;
  }

  #hidden {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 100%;
    height: 30vh;
    top: 15vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 23vh;
    width: 100%;
    height: 40vh;
    background-color: #fcfaed;
    transition: 0.4s ease-in-out;
  }

  .nav-links {
    display: none;
  }

  .nav-burger-container {
    display: block;
    flex: 1;
  }

  .location-map,
  .location-card {
    height: 350px;
    width: 450px;
  }

  .footer {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-icons {
    margin-top: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .category-menu {
    display: none;
  }
  .category-menu-mobile {
    display: flex;
  }

  .sign-btn {
    width: 300px;
  }
  .join-btn {
    width: 300px;
  }

  .membership-top h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 680px) {
  .menu-box {
    width: 400px;
  }

  .membership-top h1 {
    font-size: 2.2rem;
  }

  .membership-top p {
    font-size: 1.1rem;
    width: 400px;
  }

  .footer-copyright {
    width: 280px;
  }

  .bji-icon-container p {
    font-size: 1rem;
  }

  .order-name {
    width: 300px;
  }
  .order-total {
    width: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .title h1 {
    font-size: 3rem;
  }

  .card {
    padding: 24px;
    height: 205px;
    width: 250px;
  }

  .featured-title {
    font-size: 1.8rem;
  }
  .location-map,
  .location-card {
    height: 250px;
    width: 300px;
  }

  .menu-title h1 {
    font-size: 1.9rem;
  }

  .menu-description {
    font-size: 1.1rem;
    width: 300px;
  }

  .membership-top h1 {
    font-size: 1.9rem;
  }

  .membership-top p {
    font-size: 12px;
    width: 300px;
  }

  .footer {
    padding: 0px;
  }

  .order-name {
    width: 180px;
  }

  .order-name h2 {
    font-size: 14px;
  }

  
}
